{% extends 'base.html.twig' %}

{% block title %}Mes adresses
{% endblock %}

{% block content %}
	<h1 class="mt-3">Mes adresses</h1>
	<a href="">Ajoutez une nouvelle adresse</a>
	<p>
		dans cet espace, vous gérez vos adresses</p><br>

	<a href="{{path('account')}}">Retour</a><br>
	<hr>


{% endblock %}
